# python -m pip install -r requirements-proj.txt --upgrade
# Python 3.10.4

#
# Command line apps

# [rich](https://rich.readthedocs.io/en/stable/introduction.html)
rich==12.5.1
# commonmark==0.9.1 
# pygments==2.12.0 

# [typer](https://typer.tiangolo.com/)
typer==0.6.1
# click==8.1.3


#
# App-specific
# [appdirs](https://pypi.org/project/appdirs/)
appdirs==1.4.4

# [bs4](https://beautiful-soup-4.readthedocs.io/en/latest/)
# beautifulsoup4

# [filetype](https://pypi.org/project/filetype/)
# filetype

# [lxml](https://lxml.de/)
lxml==4.9.1

# [python-decouple](https://pypi.org/project/python-decouple/)
# python-decouple

# [pytz](https://pypi.org/project/pytz/)
# pytz

# [requests](https://docs.python-requests.org/en/latest/)
requests==2.28.1 
# certifi==2022.6.15 
# charset==normalizer-2.1.0 
# idna==3.3 
# urllib3==1.26.11

#
# Native
# [pathlib](https://docs.python.org/3/library/pathlib.html)

